# Web Scraping

In [186]:
# libraries
import pandas as pd
import yfinance as yf
from datetime import date

goal: make functions for get  
- 1st of the month cost per share for a given time period
- quarterly dividend amt per share for a given time period
- calculate the average dividend 
- calculate the average monthly cost per share

In [187]:
# get the TICKER for the stocks we are interested in
# put these tickers in a dictionary
investments = pd.DataFrame({'ticker':['FXAIX','FSSNX','FSPSX','VDADX','FXNAX','VGAVX','FSRNX'],'Quantity':[16.81,18.957,11.455,76.756,12.256,197.257,18.878]})
investment_tickers = investments['ticker']
# get the number of years the user has been investing
years_invested = 10
# get the number of years the user plans to invest 
years_future_invest = 8

In [188]:
# calculate the year the individual started investing
today = date.today()
year_start_investing = today.year - years_invested
month = today.month
year = today.year

In [189]:
# Function to connect to yahoo finance and create soup object
def connectYahooFinance (ticker):
    ticker_data = yf.Ticker(ticker)
    ticker_data = pd.DataFrame(ticker_data.history(period = 'max'))
    ticker_data.reset_index(inplace = True)
    return ticker_data

In [190]:
connectYahooFinance('FXAIX')

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2011-05-04,37.664486,37.664486,37.664486,37.664486,0,0.0,0
1,2011-05-05,37.325249,37.325249,37.325249,37.325249,0,0.0,0
2,2011-05-06,37.475151,37.475151,37.475151,37.475151,0,0.0,0
3,2011-05-09,37.640839,37.640839,37.640839,37.640839,0,0.0,0
4,2011-05-10,37.948524,37.948524,37.948524,37.948524,0,0.0,0
...,...,...,...,...,...,...,...,...
2868,2022-09-26,127.309998,127.309998,127.309998,127.309998,0,0.0,0
2869,2022-09-27,127.050003,127.050003,127.050003,127.050003,0,0.0,0
2870,2022-09-28,129.559998,129.559998,129.559998,129.559998,0,0.0,0
2871,2022-09-29,126.839996,126.839996,126.839996,126.839996,0,0.0,0
2872,2022-09-30,124.930000,124.930000,124.930000,124.930000,0,0.0,0

In [191]:
# function to get historical monthly cost per share
def MonthlyCost (ticker):
    # first call the connect to yahoofinance function
    ticker_data = connectYahooFinance(ticker)
    # filter data to only include info from the first of the month
    return ticker_data[ticker_data['Date'].dt.is_month_start]

In [192]:
MonthlyCost('FXAIX')

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
19,2011-06-01,36.828205,36.828205,36.828205,36.828205,0,0.000,0
41,2011-07-01,37.593487,37.593487,37.593487,37.593487,0,0.000,0
61,2011-08-01,35.968243,35.968243,35.968243,35.968243,0,0.000,0
84,2011-09-01,33.751305,33.751305,33.751305,33.751305,0,0.000,0
126,2011-11-01,34.243126,34.243126,34.243126,34.243126,0,0.000,0
...,...,...,...,...,...,...,...,...
2747,2022-04-01,157.093338,157.093338,157.093338,157.093338,0,0.000,0
2788,2022-06-01,142.105713,142.105713,142.105713,142.105713,0,0.000,0
2809,2022-07-01,132.740005,132.740005,132.740005,132.740005,0,0.577,0
2829,2022-08-01,143.059998,143.059998,143.059998,143.059998,0,0.000,0
2852,2022-09-01,138.039993,138.039993,138.039993,138.039993,0,0.000,0

In [193]:
# function to scrape historical dividend amt per share
def quarterlyDividends (ticker):
    # first call the conncet to yahoofinance function
    ticker_data = connectYahooFinance(ticker)
    # filter data to only include info when dividends were distributed
    return ticker_data[ticker_data['Dividends']!=0]

In [194]:
quarterlyDividends('FXAIX')

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
109,2011-10-07,32.458389,32.458389,32.458389,32.458389,0,0.223,0
158,2011-12-16,34.407173,34.407173,34.407173,34.407173,0,0.256,0
232,2012-04-04,39.716751,39.716751,39.716751,39.716751,0,0.186,0
296,2012-07-06,38.679871,38.679871,38.679871,38.679871,0,0.288,0
360,2012-10-05,41.944366,41.944366,41.944366,41.944366,0,0.282,0
407,2012-12-14,40.780758,40.780758,40.780758,40.780758,0,0.345,0
482,2013-04-05,45.095226,45.095226,45.095226,45.095226,0,0.271,0
545,2013-07-05,47.637569,47.637569,47.637569,47.637569,0,0.279,0
609,2013-10-04,49.607006,49.607006,49.607006,49.607006,0,0.309,0
658,2013-12-13,52.317493,52.317493,52.317493,52.317493,0,0.344,0
734,2014-04-04,55.292759,55.292759,55.292759,55.292759,0,0.298,0
796,2014-07-03,59.160519,59.160519,59.160519,59.160519,0,0.334,0
860,2014-10-03,58.936817,58.936817,58.936817,58.936817,0,0.330,0
914,2014-12-19,62.286713,62.286713,62.286713,62.286713,0,0.399,0
983,2015-04-01,62.307762,62.307762,62.307762,62.307762,0,0.326,0
1046,2015-07-01,63.191025,63.191025,63.191025,63.191025,0,0.450,0
1111,2015-10-02,59.663303,59.663303,59.663303,59.663303,0,0.366,0
1165,2015-12-18,61.602905,61.602905,61.602905,61.602905,0,0.428,0
1245,2016-04-15,64.379562,64.379562,64.379562,64.379562,0,0.364,0
1303,2016-07-08,66.248199,66.248199,66.248199,66.248199,0,0.369,0
1367,2016-10-07,67.341370,67.341370,67.341370,67.341370,0,0.388,0
1416,2016-12-16,70.888420,70.888420,70.888420,70.888420,0,0.456,0
1492,2017-04-07,74.420822,74.420822,74.420822,74.420822,0,0.364,0
1554,2017-07-07,77.014435,77.014435,77.014435,77.014435,0,0.419,0
1618,2017-10-06,81.353622,81.353622,81.353622,81.353622,0,0.451,0
1667,2017-12-15,85.707138,85.707138,85.707138,85.707138,0,0.456,0
1742,2018-04-06,83.873413,83.873413,83.873413,83.873413,0,0.404,0
1805,2018-07-06,89.314575,89.314575,89.314575,89.314575,0,0.449,0
1869,2018-10-05,93.823380,93.823380,93.823380,93.823380,0,0.451,0
1917,2018-12-14,84.872894,84.872894,84.872894,84.872894,0,0.503,0
1993,2019-04-05,95.015350,95.015350,95.015350,95.015350,0,0.455,0
2055,2019-07-05,98.721367,98.721367,98.721367,98.721367,0,0.480,0
2119,2019-10-04,97.941574,97.941574,97.941574,97.941574,0,0.502,0
2168,2019-12-13,105.551628,105.551628,105.551628,105.551628,0,0.751,0
2247,2020-04-08,92.181732,92.181732,92.181732,92.181732,0,0.542,0
2311,2020-07-10,107.297096,107.297096,107.297096,107.297096,0,0.498,0
2370,2020-10-02,113.223473,113.223473,113.223473,113.223473,0,0.456,0
2419,2020-12-11,124.276016,124.276016,124.276016,124.276016,0,0.586,0
2499,2021-04-09,140.758179,140.758179,140.758179,140.758179,0,0.413,0
2558,2021-07-02,148.862778,148.862778,148.862778,148.862778,0,0.496,0
2621,2021-10-01,149.506470,149.506470,149.506470,149.506470,0,0.527,0
2670,2021-12-10,162.136200,162.136200,162.136200,162.136200,0,0.583,0
2752,2022-04-08,155.148422,155.148422,155.148422,155.148422,0,0.462,0
2809,2022-07-01,132.740005,132.740005,132.740005,132.740005,0,0.577,0

In [195]:
# function to calcuate the average dividends for each ticker
def CalculateAvgDividend(ticker):
    dividends = pd.DataFrame(quarterlyDividends(ticker))
    # need to get the data of only the number of years the user has been investing
    dividends = dividends[(dividends['Date']> f'{year_start_investing}-01-01')]
    average_dividend = dividends['Dividends'].mean()
    return average_dividend

In [196]:
CalculateAvgDividend('FXAIX')

0.41992857142857143

In [197]:
# function to calc avg cost per share for each ticker
def CalculateAvgCostPerShare(ticker):
    cost_per_share = pd.DataFrame(MonthlyCost(ticker))
    cost_per_share = cost_per_share[(cost_per_share['Date']>f'{year_start_investing}-01-01')]
    average_cost = cost_per_share['Open'].mean()
    return average_cost

In [198]:
CalculateAvgCostPerShare('FXAIX')

85.60482379040086

In [199]:
# how much is your current initial investment worth
def calcCurrentWorth (ticker):
    quantity = investments.loc[investments['ticker'] == ticker]['Quantity']
    cost_per_share = pd.DataFrame(MonthlyCost(ticker))
    cost_per_share = cost_per_share.iloc[-1:]
    current_value = cost_per_share['Open'].values[0]*quantity.values[0]
    return current_value

In [200]:
calcCurrentWorth('FXAIX')

2320.452287139892

In [205]:
# calculate the annual interest rate of the individual stocks
def interestRate(ticker):
    cost_per_share = pd.DataFrame(MonthlyCost(ticker))
    current_value = cost_per_share.iloc[-1:]   
    current_value = current_value['Open'].values[0]
    print(current_value)
    old_date ='2015-04-01'
    print(old_date)
    old_value = cost_per_share.loc[cost_per_share['Date']==old_date]
    old_value = old_value['Open'].values[0]
    print(old_value)
    CAGR = (current_value/old_value)**(1/(year-2015))-1
    return CAGR

In [206]:
interestRate('FXAIX')

138.0399932861328
2015-04-01
62.3077507019043

0.12034514517766293

In [ ]:
# compounding calculation
def compundingCalc (ticker, monthly_investment, years_future_invest):
    Principal = calcCurrentWorth(ticker)
    interest = interestRate(ticker)
    compunding_period = 12
    year = years_future_invest
    monthly_contribution = monthly_investment

    results = pd.DataFrame(columns = ['Year', 'Amount'])

    for i in range(1,t+1):
        Year = i
        Amount = P*np.power((1 + r / n), n * i)+(M)*(np.power((1+ r / n ), n * i)-1)/(r / n)
        results =  results.append({'Year': Year, 'Amount': Amount}, ignore_index = True)

    #results['Year'] = results['Year'].astype('int')

    return results

In [ ]:
# fill a datatable with the project growth over the months of the years planning to invest
# how much do you plan to invest per month?
investment_per_month = 3000

def createGrowthPrediction (ticker, monthly_investment, years_future_invest):
    prediction = pd.DataFrame(columns = ['Month','Date','Quantity','Value','Dividends'])
    # put the start values into the dataframe

    # predict how much you quantity is invested per month based on the avg

    # calculate the growth based on compound interest and dividend reinvesting and avg growth